<header>
  <!-- Navbar goes here -->

  <nav class="bg-white shadow-lg">
    <div class="max-w-6xl mx-auto px-4">
      <div class="flex justify-between">
        <div class="flex space-x-7">
          <div>
            <!-- Website Logo -->
            <a href="/" class="flex items-center py-4 px-2">
              <img src="/images/logo.png" alt="Logo" class="h-8 w-8 mr-2" />
              <span class="font-semibold text-gray-500 text-lg">E-Shop.</span>
            </a>
          </div>
          <!-- Primary Navbar items -->
          <div class="hidden md:flex items-center space-x-1">
            <a href="/" class="<%= path==='/' ? 'navbar-active':'navlink' %>"
              >Home</a
            >
            <a
              href="/orders"
              class="<%= path==='/orders' ? 'navbar-active':'navlink' %>"
              >Orders</a
            >
            <% if(isAuthenticated&&role===1){ %>
            <a
              href="/admin/add-product"
              class="
                <%=
                path==='/admin/add-product'
                ?
                'navbar-active':'navlink'
                %>
              "
              >Add Product</a
            >
            <% } %> <% if(isAuthenticated){ %>
            <a
              href="/cart"
              class="<%= path==='/cart' ? 'navbar-active':'navlink' %>"
              >Cart</a
            >
            <% } %>
          </div>
        </div>
        <!-- Secondary Navbar items -->
        <div class="hidden md:flex items-center space-x-3">
          <% if(!isAuthenticated){ %>
          <a
            href="/login"
            class="<%= path==='/login' ? 'nav-button-active' : 'nav-button' %>"
            >Log In</a
          >
          <a
            href="/register"
            class="
              <%=
              path==='/register'
              ?
              'nav-button-active'
              :
              'nav-button'
              %>
            "
            >Sign Up</a
          >
          <% } %> <% if(isAuthenticated){ %>
          <div>
            <a
              href=""
              class="text-purple-700 text-sm p-1 border border-purple-700"
              ><%= username %>
            </a>
          </div>
          <form action="/logout" method="post" class="flex items-center">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
            <button type="submit" class="cursor-pointer" title="logout">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-5 w-5 text-purple-700"
                viewBox="0 0 20 20"
                fill="currentColor"
              >
                <path
                  fill-rule="evenodd"
                  d="M3 3a1 1 0 00-1 1v12a1 1 0 102 0V4a1 1 0 00-1-1zm10.293 9.293a1 1 0 001.414 1.414l3-3a1 1 0 000-1.414l-3-3a1 1 0 10-1.414 1.414L14.586 9H7a1 1 0 100 2h7.586l-1.293 1.293z"
                  clip-rule="evenodd"
                />
              </svg>
            </button>
          </form>
          <% } %>
        </div>
        <!-- Mobile menu button -->
        <div class="md:hidden flex items-center">
          <button class="outline-none mobile-menu-button">
            <svg
              class="w-6 h-6 text-gray-500 hover:text-purple-700"
              x-show="!showMenu"
              fill="none"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path d="M4 6h16M4 12h16M4 18h16"></path>
            </svg>
          </button>
        </div>
      </div>
    </div>
    <!-- mobile menu -->
    <div class="hidden mobile-menu">
      <ul class="">
        <li class="active">
          <a
            href="/"
            class="
              block
              text-sm
              px-2
              py-4
              text-white
              bg-purple-700
              font-semibold
            "
            >Home</a
          >
        </li>
        <li>
          <a
            href="#services"
            class="
              block
              text-sm
              px-2
              py-4
              hover:bg-purple-700
              transition
              duration-300
            "
            >Orders</a
          >
        </li>
        <% if(isAuthenticated&&role===1){ %>
        <li>
          <a
            href="/admin/add-product"
            class="
              block
              text-sm
              px-2
              py-4
              hover:bg-purple-700
              transition
              duration-300
            "
            >Add Product</a
          >
        </li>
        <% } %> <% if(isAuthenticated){ %>
        <li>
          <a
            href="/cart"
            class="
              block
              text-sm
              px-2
              py-4
              hover:bg-purple-700
              transition
              duration-300
            "
            >Cart</a
          >
        </li>
        <% } %> <% if(isAuthenticated){ %>
        <div class="grid grid-cols-5 mb-3">
          <div>
            <a
              href=""
              class="
                text-purple-700 text-sm
                p-1
                border border-purple-700
                ml-2
                inline-block
                mb-3
              "
              ><%= username %>
            </a>
          </div>
          <form action="/logout" method="post" class="inline-block">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
            <button type="submit" class="cursor-pointer" title="logout">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="h-5 w-5 text-purple-700"
                viewBox="0 0 20 20"
                fill="currentColor"
              >
                <path
                  fill-rule="evenodd"
                  d="M3 3a1 1 0 00-1 1v12a1 1 0 102 0V4a1 1 0 00-1-1zm10.293 9.293a1 1 0 001.414 1.414l3-3a1 1 0 000-1.414l-3-3a1 1 0 10-1.414 1.414L14.586 9H7a1 1 0 100 2h7.586l-1.293 1.293z"
                  clip-rule="evenodd"
                />
              </svg>
            </button>
          </form>

          <% } %> <% if(!isAuthenticated){ %>
          <div class="ml-2 pb-5">
            <a
              href="/login"
              class="
                <%=
                path==='/login'
                ?
                'nav-button-active'
                :
                'nav-button'
                %>
              "
              >Log In</a
            >
            <a
              href="/register"
              class="
                <%=
                path==='/register'
                ?
                'nav-button-active'
                :
                'nav-button'
                %>
              "
              >Sign Up</a
            >
          </div>
          <% } %>
        </div>
      </ul>
    </div>
    <script>
      const btn = document.querySelector("button.mobile-menu-button");
      const menu = document.querySelector(".mobile-menu");

      btn.addEventListener("click", () => {
        menu.classList.toggle("hidden");
      });
    </script>
  </nav>
</header>
