<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title><%= title %></title>
  </head>
  <body>
    <%- include('includes/navbar') %>
    <main class="mx-12 mt-4">
      <div class="flex justify-center align-middle">
        <form
          action="/admin/product"
          method="post"
          class="md:w-2/3"
          enctype="multipart/form-data"
        >
          <% if(message){ %>
          <div
            class="
              bg-yellow-50
              border-l-4 border-yellow-500
              text-sm text-yellow-500
              px-4
              py-2
            "
            role="alert"
          >
            <p><%= message %>.</p>
          </div>
          <% } %>
          <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
          <input
            type="text"
            name="title"
            id=""
            class="
              border-b border-r-8 border-purple-700
              p-2
              text-sm
              my-2
              shadow-md
              w-full
              focus:border-purple-700 focus:outline-none focus:shadow-lg
            "
            placeholder="Enter product name"
            value="<%= oldInput.title %>"
            required
          />

          <input
            type="number"
            name="price"
            id=""
            class="
              border-b border-r-8 border-purple-700
              my-2
              p-2
              text-sm
              shadow-md
              w-full
              focus:border-purple-700 focus:outline-none focus:shadow-lg
            "
            placeholder="Enter product price"
            required
            value="<%= oldInput.price %>"
          />
          <input
            type="text"
            name="description"
            id=""
            class="
              border-b border-r-8 border-purple-700
              my-2
              p-2
              text-sm
              shadow-md
              w-full
              focus:border-purple-700 focus:outline-none focus:shadow-lg
            "
            placeholder="Enter product description"
            required
            value="<%= oldInput.description %>"
          />

          <div class="mb-2">
            <span class="text-sm text-gray-400">Product Image</span>
            <div
              class="
                relative
                h-40
                rounded-none
                border-dashed border-2 border-purple-700
                bg-white
                flex
                justify-center
                items-center
                hover:cursor-pointer
              "
            >
              <div class="absolute">
                <div class="flex flex-col items-center">
                  <i class="fa fa-cloud-upload fa-3x text-gray-200"></i>
                  <span class="block text-gray-400 font-normal"
                    >Attach you files here</span
                  >
                  <span class="block text-gray-400 font-normal">or</span>
                  <span class="block text-purple-700 font-normal"
                    >Browse files</span
                  >
                </div>
              </div>
              <input
                type="file"
                class="h-full w-full opacity-0"
                name="image"
                required
              />
            </div>
            <div class="flex justify-between items-center text-gray-400">
              <span>Accepted file type:.jpg/.png only</span>
              <span class="flex items-center"
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-4 w-4"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M9 12l2 2 4-4m5.618-4.016A11.955 11.955 0 0112 2.944a11.955 11.955 0 01-8.618 3.04A12.02 12.02 0 003 9c0 5.591 3.824 10.29 9 11.622 5.176-1.332 9-6.03 9-11.622 0-1.042-.133-2.052-.382-3.016z"
                  /></svg
                >secure</span
              >
            </div>
          </div>

          <button
            type="submit"
            class="
              bg-purple-700
              px-2
              py-2
              text-white text-sm
              shadow-md
              block
              mt-2
              md:mt-0 md:inline-block
            "
          >
            Add Product
          </button>
        </form>
      </div>
    </main>
  </body>
</html>
